<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>

    <span th:replace="~{/fragments/import :: bootstrap}"></span>
    <span th:replace="~{/fragments/import :: styles('')}"></span>
    <span th:replace="~{/fragments/import :: scripts('')}"></span>
</head>
<body class="d-flex min-vh-100 flex-column">

<header th:insert="~{fragments/header :: header('')}"></header>

<main class="container flex-grow-1">
    <div class="px-4 py-5 my-5 text-center max-w-330px mx-auto">
        <img class="d-block mx-auto mb-4 img-fluid w-100px" src="/images/logo.png" alt="logo"/>
        <h1 class="display-5 fw-bold text-body-emphasis">Login</h1>

        <div class="form-signin w-100 m-auto">
            <form th:action="@{/login}" method="post">
                <div class="form-floating">
                    <input type="email"
                           class="form-control"
                           id="login-email"
                           name="email"
                           placeholder="Email"
                           required>
                    <label for="login-email">Email</label>
                </div>
                <div class="form-floating">
                    <input type="password"
                           class="form-control"
                           id="login-password"
                           name="password"
                           placeholder="Password"
                           required>
                    <label for="login-password">Password</label>
                    <small class="text-danger" th:if="${error != null}" th:text="${error}"></small>
                </div>

                <div class="text-end">
                    <a th:href="@{/newPassword}">Password forgotten ?</a>
                </div>

                <button class="btn btn-primary w-100 my-3 py-2" type="submit">Log in</button>
            </form>

            <span>Don't have an account yet ? <a class="text-decoration-none" th:href="@{/signup}">Sign up</a></span>
        </div>
    </div>
</main>

<!--<div th:unless="${logged}">
    <p>pas connecté</p>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="email">email</label>
            <input name="email" id="email" type="text">
        </div>
        <div>
            <label for="password">password</label>
            <input name="password" id="password" type="password">
        </div>
        <button type="submit">connection</button>
    </form>
</div>
<div th:if="${logged}">
    <p>connecter</p>
    <a th:href="@{/logout}">logout</a>
</div>-->

<footer th:insert="~{fragments/footer :: footer}"></footer>

</body>
</html>